// Theme settings
$font-family: "Titillium Web", sans-serif;

// Bootstrap variable override
$black: #000000 !default;
$yellow: #e3d316 !default;
$white: #ffffff !default;
$light: #f7f7f7 !default;
$dark: #1f2532 !default;
$primary: $yellow;
$secondary: #707d8f !default;
$versivo: #c8cc40 !default;
$body-bg: $white;
$body-color: $secondary;

// Navigation
$navbar-dark-color: $secondary; // Navbar item text color
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: $white;
$navbar-nav-link-padding-x: 1rem;

// Navigation -> Dropdown
$dropdown-bg: $black;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: transparent !default;
$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: transparent !default;

// Page Navigation
$breadcrumb-bg: transparent !default;
$breadcrumb-divider-color: $secondary;
$breadcrumb-active-color: $white;

// Jumbotron
$jumbotron-bg: transparent !default;
$jumbotron-padding: 0rem !default;

// Bootstrap required configuration
@import "../../static/plugins/bootstrap/scss/_functions.scss";
@import "../../static/plugins/bootstrap/scss/_variables.scss";
@import "../../static/plugins/bootstrap/scss/_mixins.scss";

// Bootstrap optional layout & components
@import "../../static/plugins/bootstrap/scss/_root.scss";
@import "../../static/plugins/bootstrap/scss/_reboot.scss";
@import "../../static/plugins/bootstrap/scss/_type.scss";
@import "../../static/plugins/bootstrap/scss/_images.scss";
// @import "../../static/plugins/bootstrap/scss/_code.scss";
@import "../../static/plugins/bootstrap/scss/_grid.scss";
// @import "../../static/plugins/bootstrap/scss/_tables.scss";
// @import "../../static/plugins/bootstrap/scss/_forms.scss";
@import "../../static/plugins/bootstrap/scss/_buttons.scss";
@import "../../static/plugins/bootstrap/scss/_transitions.scss";
@import "../../static/plugins/bootstrap/scss/_dropdown.scss";
// @import "../../static/plugins/bootstrap/scss/_button-group.scss";
// @import "../../static/plugins/bootstrap/scss/_input-group.scss";
// @import "../../static/plugins/bootstrap/scss/_custom-forms.scss";
// @import "../../static/plugins/bootstrap/scss/_nav.scss";
@import "../../static/plugins/bootstrap/scss/_navbar.scss";
// @import "../../static/plugins/bootstrap/scss/_card.scss";
@import "../../static/plugins/bootstrap/scss/_breadcrumb.scss";
// @import "../../static/plugins/bootstrap/scss/_pagination.scss";
// @import "../../static/plugins/bootstrap/scss/_badge.scss";
@import "../../static/plugins/bootstrap/scss/_jumbotron.scss";
// @import "../../static/plugins/bootstrap/scss/_alert.scss";
// @import "../../static/plugins/bootstrap/scss/_progress.scss";
// @import "../../static/plugins/bootstrap/scss/_media.scss";
// @import "../../static/plugins/bootstrap/scss/_list-group.scss";
// @import "../../static/plugins/bootstrap/scss/_close.scss";
// @import "../../static/plugins/bootstrap/scss/_modal.scss";
// @import "../../static/plugins/bootstrap/scss/_tooltip.scss";
// @import "../../static/plugins/bootstrap/scss/_popover.scss";
// @import "../../static/plugins/bootstrap/scss/_carousel.scss";
@import "../../static/plugins/bootstrap/scss/_utilities.scss";
@import "../../static/plugins/bootstrap/scss/_print.scss";
// @import "../../static/plugins/bootstrap/scss/_spinners.scss";
// @import "../../static/plugins/bootstrap/scss/_toasts.scss";

/******************************************************************
  Common Styles
*******************************************************************/
body {
    -webkit-font-smoothing: antialiased;
    font-family: $font-family;
    line-height: 1.4;
}

em {
    color: $red;
    font-style: normal;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark;
    font-weight: 600;
}

section {
    padding: 5rem 0;
}

.dark-color {
    color: $dark
}

.light-color {
    color: $light;
}

.primary-color {
    color: $primary;
}

.secondary-color {
    color: $secondary;
}

.versivo-color {
    color: $versivo;
}

.white-color {
    color: $white;
}

.btn {
    color: $dark;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.btn-sm {
    font-size: 0.7rem;
}

/******************************************************************
  Navigation (header)
*******************************************************************/
nav {
    padding: 1rem 0 0 0 !important;

    .nav-item {
        line-height: 1.7rem;
    }

    .navbar-brand {
        img {
            max-width: 200px;
        }
    }

    .active {
        a:hover, a:active, a:focus {
            color: $navbar-dark-hover-color !important;
        }
    }

    // Opening on mouse over
    @media all and (min-width: 992px) {
        .nav-item .dropdown-menu {
            display: block;
            margin-top: 0;
            opacity: 0;
            transition: 0.3s;
            visibility: hidden;
        }

        .nav-item:hover .dropdown-menu {
            opacity: 1;
            top: 100%;
            transition: 0.3s;
            transform: rotateX(0deg);
            visibility: visible;
        }
    }
}

/******************************************************************
  Navigation (page)
*******************************************************************/
.page-nav {
    text-align: center;

    a {
        text-decoration: none;
    }

    h1 {
        color: $white;
        font-size: 2rem !important;
    }

    li.active {
        a, a:link, a:visited {
            color: $white;
        }

        a:hover, a:active, a:focus {
            color: $primary;
        }
    }

    ol {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

/******************************************************************
  Jumbotron (carousel and quote)
*******************************************************************/
.hero {
    h1 {
        font-size: 1.45rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    img {
        border: 1px solid $primary !important;
        margin-bottom: 1rem;
    }

    li {
        line-height: 3rem;
    }
}
/******************************************************************
  Call to Action
*******************************************************************/
.call-to-action {
    background: url("/images/call-to-action.png");
    background-size: cover;
    text-align: center;

    h1 {
        color: $white;
        font-size: 2rem;
    }

    p {
        color: $white;
    }
}

/******************************************************************
  Home Page
*******************************************************************/
.home-services {
    .service {
        padding: 0 2rem;
        margin-bottom: 1rem;
        text-align: center;

        h1 {
            font-size: 1.2rem;
            margin-top: 1rem;
        }

        p {
            text-align: justify;
        }

        .fa {
            color: $versivo;
            text-align: center;
        }
    }
}

.home-blog {
    margin-bottom: 1rem;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    h2 {
        font-size: 0.6rem;
        font-weight: 700;
        letter-spacing: 3.3px;
        text-transform: uppercase;
    }

    span.bar {
        background-image: linear-gradient(100deg, $primary, $versivo);
        display: inline-block;
        height: 0.4rem;
        position: relative;
        margin-bottom: 3rem;
        margin-top: 0.3rem;
        width: 6rem;
    }

    .post-container {
        margin-bottom: 2rem;
    }

    .post {
        background-color: $white;
        height: 100%;
        padding: 1.5em;

        a {
            color: $dark;
        }

        a:hover, a:active, a:focus, a:hover {
            color: $primary;
            text-decoration: none;
        }

        h3 {
            padding-top: 1rem;
            text-align: left;
        }

        p {
            text-align: justify;
        }

        .meta {
            font-size: 1rem;
            text-align: left;
        }
    }
}

/******************************************************************
  Free Tools Page
*******************************************************************/
.free-tools {
    text-align: center;

    .free-tool-container {
        margin-bottom: 2rem;
    }

    .free-tool {
        background-color: $white;
        height: 100%;
        padding: 1.5em;
        text-align:center;

        a {
            color: $dark;
        }

        a:hover, a:active, a:focus, a:hover {
            color: $primary;
            text-decoration: none;

            > h1 {
                color: $primary;
                text-decoration: none;
            }
        }

        h1 {
            font-size: 1.5rem;
            margin-top: 1rem;
        }

        p {
            text-align: justify;
        }

        .meta {
            font-size: 1rem;
        }
    }
}

/******************************************************************
  Contact Us
*******************************************************************/
.contact-us {
    .contanct-method-container {
        margin-bottom: 2rem;
    }

    .contact-method {
        color: $dark;
        height: 100%;
        padding: 1.5em;
        text-align:center;

        a {
            color: $dark;
        }

        a:hover, a:active, a:focus, a:hover {
            color: $primary;
            text-decoration: none;

            > h1 {
                color: $primary;
                text-decoration: none;
            }
        }

        h1 {
            font-size: 1.6rem;
            margin-top: 1rem;
        }
    }
}

/******************************************************************
  Blog Index
*******************************************************************/
.blog-index {
    .row {
        margin-bottom: 2rem;

        a {
            color: $dark;
        }

        a:hover, a:active, a:focus, a:hover {
            color: $primary;
            text-decoration: none;

            > h1 {
                color: $primary;
                text-decoration: none;
            }
        }

        h1 {
            font-size: 1.6rem;
            margin-top: 1rem;
        }
    }
}

/******************************************************************
  Blog post
*******************************************************************/
.blog-post {
    .sidebar {
        a {
            color: $dark;
        }

        a:hover, a:active, a:focus, a:hover {
            color: $primary;
            text-decoration: none;

            > h1 {
                color: $primary;
                text-decoration: none;
            }
        }

        toc {
            ul {
                list-style: none;
                padding-left: 0;

                ul {
                    padding-left: 1rem;
                }
            }
        }

        .author .name, toc .title {
            color: $dark;
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 1rem;
        }

        .author p {
            text-align: justify;
        }
    }

    .main {
        a {
            color: $dark;
        }

        a:hover, a:active, a:focus, a:hover {
            color: $primary;
            text-decoration: none;

            > h1 {
                color: $primary;
                text-decoration: none;
            }
        }

        h1 {
            font-size: 2.5rem;
        }

        .body {
            margin-top: 1rem;

            p {
                text-align: justify;
            }

            blockquote {
                border-left: 3px solid;
                margin-left: 1rem;
                padding-left: 1rem;
            }

            .float-center {
                margin-left: 2rem;
                margin-right: 2rem;
                max-width: 80%;
            }

            .float-left {
                margin: 1rem 2rem 1rem 0;
                max-width: 50%;
            }

            .float-right {
                margin: 1rem 0 1rem 2rem;
                max-width: 50%;
            }
        }
    }

    .social-buttons {
        margin-top: 2rem;

        a, a:link, a:visited {
            color: $dark;
        }

        a:hover, a:active, a:focus {
            color: $primary;
            text-decoration: none;
        }

        li {
            margin-right: 0.8rem;
            margin-top: 0.8rem;
        }
    }
}


/******************************************************************
  Author
*******************************************************************/
.author-page {
    h2 {
        font-size: 1rem;
    }

    .row {
        margin-bottom: 2rem;
    }

    a {
        color: $dark;
    }

    a:hover, a:active, a:focus, a:hover {
        color: $primary;
        text-decoration: none;

        > h4 {
            color: $primary;
            text-decoration: none;
        }
    }

    h4 {
        font-size: 1.5rem;
    }
}

/******************************************************************
  Author index page
*******************************************************************/
.author-index {
    a {
        color: $dark;
    }

    a:hover, a:active, a:focus, a:hover {
        color: $primary;
        text-decoration: none;

        > h1 {
            color: $primary;
            text-decoration: none;
        }
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/******************************************************************
  Footer
*******************************************************************/
footer {
    background-color: $black;
    color: $secondary;
    letter-spacing: 2px;
    line-height: 1;
    padding: 2rem 0;
    text-align: center;

    a {
        color: crimson;
    }

    a:hover, a:active, a:focus {
        color: $yellow;
        text-decoration: none;
    }
}
